/* Style the toggle button */
body {
    font-family: sans-serif; /* Set a base font family */
    margin: 0; /* Remove default margin */
    background-color: #EED6D3; /* Adjust background color */
  }


.toggle-btn {
    background-color: #A49393; /* Adjust background color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  
  /* Style the offcanvas */
  .offcanvas {
    background-color: #67595E; /* Adjust sidebar background color */
    width: 250px; /* Adjust sidebar width */
    transition: transform 0.3s ease-in-out; /* Add smooth transition */
  }
  
  .offcanvas.show {
    transform: translateX(0); /* Move sidebar to the left on open */
  }
  
  /* Style the offcanvas header */
  .offcanvas-header {
    padding: 15px;
    border-bottom: 2px solid #ddd; /* Add a divider line */
  }
  
  .offcanvas-title {
    font-weight: bolder;
    color: beige;
  }
  
  /* Style the offcanvas body */
  .offcanvas-body {
    padding: 15px;
    font-size: x-large;
    color: beige;
    font-family: sans-serif;
  }
  .offcanvas-body :hover{
    color: black;
  }
  
 /* Style the card */
.card {
  background-color: beige;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Center the card horizontally */
  max-width: 400px; /* Set a maximum width */
  max-height: 500px;
  padding: 20px;
  margin-left: 430px; /* Center the text within the card */
  margin-top: 20px;
}

/* Style the card header */
.card-header {
  background-color: beige;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  padding: 5px 10px;
}

/* Style the card title */
.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Style the card text */
.card-text {
  color: #666;
  line-height: 1.5; /* Increase line spacing for readability */
}

.p {
  align-items: left;
}

.box{
  background-color: beige;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Center the card horizontally */
  max-width: 400px; /* Set a maximum width */
  height: 500px;
  padding: 20px;
  margin-left: 1000px; /* Center the text within the card */
  margin-top: 100px;
}